<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/404.css"
        />
        <title>404 Not Found Error!</title>
    </head>
    <body>
        <div id="not-found-kontener">
            <h1>404 Not Found Error!</h1>
            <p>A keresett erőforrás nem található!</p>
            <p><a href="/">Vissza a főoldalra!</a></p>
        </div>
    </body>
</html>
