<nav>
    <div id="nav-kontener">
        <div id="szerver-oldal">
            <li><a href="/api">Főoldal</a></li>
            <li><a href="/api/books-backend">Könyvek</a></li>
        </div>
        <div id="kliens-oldal">
            <li><a href="http://localhost:5173">Kliens</a></li>
        </div>
    </div>
</nav>
