.navbar-kontener {
    display: flex;
    flex-direction: row;
    gap: 1em;
    background-color: blue;
    padding: 1em;
}

.navbar-kontener a {
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
